/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
#main {
		background-attachment: scroll;
		background-position: top center;
	}
	#create-website-wrapper {
		background-color: RGBA(255,255,255,0.6);
		padding:30px 20px 20px 20px;
		margin-top:60px;
		margin-bottom:60px;
	}
	
	.create_site_form ul { 
		list-style: none;
		padding: 0;
		margin: 0;
		font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	.create_site_form ul li {
		padding: 0;
		margin: 0 0 15px 0;
	}
	
	.create_website_form_submit{
		background: #168dc5;
		color: #FFFFFF;
		text-shadow: none;
		font-weight: 100;
		text-transform: none;
		border: none;
		display: block;
		width: 100%;
		padding: 12px 0;
		font-size: 20px;
		font-family:  "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.create_website_form_submit:hover{
		background: #1570a6; color:#FFFFFF;
	}
	
	.create_website_form_label{
		display: block;
		background: rgba(0,0,0,0.15);
		padding: 4px 10px;
		font-size: 15px;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		color: #FFFFFF;
		font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	.create_website_form_input{
		background: rgba(255,255,255,0.4);
		color: #454545;
		text-shadow: none;
		font-weight: 100;
		text-transform: none;
		display: block;
		line-height: 30px;
		width: 100%;
		padding: 5px 10px;
		border: 1px solid rgba(0,0,0,0.25);
		font-size: 20px;
		font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		
	}
	
	.create_website_form_input.error{ border: 1px solid #FF0000;}
	
	.create_website_form_input:focus{
		border: 1px solid rgba(0,0,0,0.35);
		outline: none;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.15);	
	}
	
	#create_website_form_site_url{
		text-transform: lowercase;
		padding: 5px 110px 5px 10px;		
	}
	
	#create_website_form_site_url_suffix{
		position:relative;
		top: 69px;
		left: 120px;
		font-weight: 100;
		text-transform: lowercase;
		display: inline-block;
		padding: 5px 0px;
		font-size: 20px;
		line-height: 30px;
		color: #b8b8b8;
		
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	#create_website_form_captcha_value{
		width: 205px;
		display: inline;
		float: right;
	}
	
	.create_website_form_captcha_image{
		padding: 0px;
		margin: 0;
		background: #FFFFFF;
		width: 206px;
		float: left;
		border-top: 1px solid rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		border-left: 1px solid rgba(0,0,0,0.25);
	}
	.gfield_required{ color:#FF0000;}
	
	label.error{ color:#FF0000;}
	
	.errors .error{ color:#FF0000;}
	
	ul.errors li.error{ 
		padding: 4px 0px;
		margin: 0;
	}
	
	ul.errors{ 
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.success{ color:#008800; }
	
	.create_site_button{width:48%; text-align: center;}
	.left { float:left;}
	.right { float:right;}
	
	.margin-bottom15 {margin-bottom: 15px;} 